/* line 2, static/main.scss */
.room .main {
  display: flex;
  flex-direction: row;
  align-content: center; }

/* line 7, static/main.scss */
.room sidebar {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px;
  box-sizing: border-box;
  min-width: 80px; }

/* line 13, static/main.scss */
.room section {
  flex: 1;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px;
  box-sizing: border-box; }
