/* line 1, static/main.scss */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

/* line 7, static/main.scss */
.room h1, .room h2 {
  margin-top: 0; }

/* line 10, static/main.scss */
.room .main {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-content: center; }

/* line 16, static/main.scss */
.room sidebar {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px;
  box-sizing: border-box;
  min-width: 80px;
  margin-right: 20px; }

/* line 23, static/main.scss */
.room section {
  flex: 1;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px;
  box-sizing: border-box; }
