body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: .9em;
    font-weight: 100;
}



.main, main {
    display: flex;
    flex:1;
    flex-direction: column;
    align-content: center;
    box-sizing: border-box;
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


sidebar {
    @include room-div;
    
}
section {
    @include room-div;
    flex: 1;
}

footer {
    @include room-div;
}

header > div {
    @include room-div;
    display: flex;
    flex-direction: row;
    ul {
        flex: 1;
        list-style: none;
        margin: 0;
        li {
            float: right;
            margin-left: 20px;
        }
    }
    
}
