#### DO NOT CHANGE THIS WITHOUT ALSO CHANGING THE `grotto-deps` REPO

Django==3.1.4
django-appconf==1.0.4
django-colorfield==0.4.1
django-compressor==2.4
django-libsass==0.8
libsass==0.20.1
markovify==0.9.3
webcolors==1.11.1

django-enumfield==2.0.2

# deployment needs
gunicorn==20.0.4
whitenoise==5.2.0

# REST API
djangorestframework==3.12.4
Markdown==3.3.4
django-filter==2.4.0
drf-yasg==1.20.0

# Svelte frontend
django-svelte==0.1.6

# for S3 access
django-storages==1.12.3
boto3==1.20.49

# for code quality
black==22.1.0
