{% load static %}
{% load compress %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{object.characterName}}</title>
    {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static '/main.scss' %}">
    {% endcompress %}
  </head>
  <body class = "room {{ object.colorName }}" style='background-color:{{object.colorHex}}'>
    {% include "header.html" %} 
    <div class="main">
      <section class='description'>
          <h2>{{object.characterName}}</h2>
          <p class="description">
            {{ object.characterDescription }}
          </p>
          <p class="skills">
            {{ object.skills }}
          </p>
      </section>
    </div>
    <footer>

    </footer>
    </body>
</html>
