body.character {
    overflow-y: hidden;
    height: 100vh;
    .main {
        overflow-y: scroll;
        flex: 1;
    }
    .content {
        flex: 1;
        height:100vh;
    }
}

.character_sheet {
    max-width: 600px;
    margin: auto;
    box-sizing: border-box;
    padding: 50px;
}
