{% load static %}
{% load compress %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block page_title %}{% endblock %}</title>
    {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static '/main.scss' %}">
    {% endcompress %}
  </head>
  <body class = "agreement">
    <header>

    </header>
    <div class="main">
      <section class='agreement'>
        Why a Code of Conduct?

        We are dedicated to providing an inclusive environment for everyone. Our community welcomes but is not limited to people of differing genders, gender identity and expression, sexual orientation, physical ability, neurotypicality, physical appearance, body size, age, race, and religion. 
        
        
        Does it apply to me?
        This code of conduct applies to all community spaces, including at our monthly meetups, Fantastic Arcade, Discord channel, and other events and channels, both online and off. Anyone who violates this code of conduct may be sanctioned or removed from these spaces at the discretion of the Board and/or Response Team. Certain events may have additional rules in place, which will be made clearly available to participants through posted signage or online notifications. All participants are responsible for knowing and following these rules. This code of conduct is a living document and we are especially looking for feedback from people who represent a diversity of identities (sexual, gender, race and ethnicity, ability)
        
        Examples of encouraged behaviors contributing to a positive environment:
        Demonstrating empathy and kindness toward other people
        Being respectful of differing opinions, viewpoints, and experiences
        Giving and gracefully accepting constructive feedback
        Accepting responsibility and apologizing to those affected by our mistakes, and learning from the experience
        Focusing on what is best not just for us as individuals, but for the overall community
        Expressing enthusiasm and excitement for all y'all's creations (:
        
        Examples of behaviors NOT tolerated:
        Minimizing or making judgments based on an individual’s identity or lived experiences.
        Unwelcome comments regarding a person’s lifestyle choices and practices.
        Threats, acts, or incitement of violence towards any individual, including encouraging a person to commit suicide or to engage in self-harm.
        Posting or threatening to post other people’s personally identifying information ("doxing").
        Deliberate “outing” of any aspect of a person’s identity without their consent.
        Deliberate misgendering or use of "dead” or rejected names.
        Gratuitous or off-topic sexual images or behavior in spaces where they’re not appropriate.
        Unwelcome sexual attention.
        Physical contact and simulated physical contact through text (e.g., descriptions like “*hug*” or “*backrub*”) without consent, or after a request for no contact or to stop.
        Deliberate intimidation.
        Patterns of inappropriate or unwanted social contact, such as requesting or assuming inappropriate levels of intimacy with others. 
        Continued one-on-one communication after request to cease.
        Stalking or unwanted following, whether in-person or online.
        Unwanted and excessive photography or recording, including logging online activity for harassment purposes.
        Sustained disruption of discussion.
        
        Discrimination/harassment is not:
        
        ‘Reverse’ -isms, including ‘reverse racism,’ ‘reverse sexism,’ and ‘cisphobia’.
        Reasonable communication of boundaries, such as “leave me alone,” “go away,” or “I’m not discussing this with you.”
        Criticism of racist, sexist, transphobic, or otherwise oppressive behavior or assumptions.
        
        We prioritize marginalized people’s safety over privileged people’s comfort.
        Reporting Code of Conduct Violations:
        If you witness or experience harassment or have other concerns about anyone involved as a member of our community, please contact the Board at {info@themuseumofhumanachievement.com or Anonymous Form}. We will respond promptly. 
        
        If you are uncomfortable reporting to the board we are currently working with outside parties to form a Response Team that is completely unaffiliated with the community and board of directors. Once the Response Team is in place community members can contact them via email. The Response Team will be a third party team of advisors who are external to the board and will work to address and resolve conflicts with confidentiality and will maintain anonymity when requested. 
        
        This code of conduct applies to all spaces, but if you are being harassed by a member of our community outside our spaces, we still want to know about it. We take all good-faith reports of harassment by community members, especially those pertaining to the board, seriously. This includes harassment outside our spaces and harassment that took place at any point in time. We reserve the right to review and act on reports of past behavior. If an issue is brought to our attention that occurred external to our community, but that affects our community we will review the report based on our Code of Conduct. All code of conduct reports will be confidential. The Board will attempt to reach out to the reporting party before taking any action, unless the situation requires a faster response for the safety of the entire community. 
        
        Anonymous Form
        
        🔥Tiered Consequences for Code of Conduct Violators 🔥
        
        1. Correction 🔥
        Cause: Use of inappropriate language or other behavior deemed unprofessional or unwelcome in the community.
        
        Consequence: A private conversation with community leaders, providing clarity around the nature of the violation and an explanation of why the behavior was inappropriate.
        
        2. Warning 🔥🔥
        Cause: A violation through a single incident or series of actions.
        
        Consequence: A warning with consequences for continued behavior. Unsolicited interaction with the people involved, including those enforcing the Code of Conduct, for a specified period of time could lead to a temporary or permanent ban. This includes avoiding interactions with involved parties in community spaces as well as external channels like social media. 
        
        3. Temporary Ban 🔥🔥🔥
        Cause: A serious violation of community standards, including sustained inappropriate behavior.
        
        Consequence: A temporary ban from community events and associated online spaces for a specified period of time. Violating the temporary ban may lead to a permanent ban.
        
        4. Permanent Ban 🔥🔥🔥🔥
        Cause: Demonstrating a pattern of violation of community standards, including sustained inappropriate behavior, harassment of an individual, or aggression toward or disparagement of classes of individuals.
        
        Consequence: A permanent ban from community events and associated online spaces. 
        
        Credits
        Attribution: This Code of Conduct is based on the example policy from the Geek Feminism wiki, created by the Ada Initiative and other volunteers as well as the American Alliance of Museums’ Code of Conduct, the Nonprofit Technology Conference’s Code of Conduct and the Contributor Covenant Community Impact Guidelines were inspired by Mozilla’s code of conduct enforcement ladder.
        
      </section>
      
    </div>
    <footer>

    </footer>
    </body>
</html>