{% extends "base.html" %}

{% load static %}

{% block page_title %}Grotto{% endblock %}
{% block body_class %}index{% endblock %}

{% block header %}<header></header>{% endblock %}

{% block main_section_class %}welcome{% endblock %}

{% block content %}
  <h1 class="pink">Grotto (0.4<span class="small">⍺</span>)</h1>
    <img src="{% static 'images/bard.gif' %}"/ alt="an animated fantasy bard playing a stringed instrument">

    <div class="login"><a href="{% url 'characterBuilder:index' %}">ENTER</a></div>

    <em>The gods of forests, waters, winds and darkness vanished. Many grieved for them, and had no wish to renounce them in the waters of baptism, and in particular witches, soothsayers and magicians. They fled deeper into the forests, into secret valleys under the mountains. There they carried away with them their ancestors and their idols, and there continued to prostrate themselves before them and offer sacrifices, cursing the new God.
      - Legends of Old Bohemia
      </em>
    <div class="news">
      <p>This is an experimental web space in development! Use at your own risk. The main Grotto codebase is currently under development by <a href="https://github.com/wysiwyggins">wysiwyggins</a> and <a href="https://github.com/thismatters">Thismatters</a>. Questions? Contact Wiley Wiggins- <a href="&#109;a&#105;l&#116;&#111;:&#103;&#114;&#111;&#116;&#116;&#111;&#64;&#107;&#97;&#114;&#97;&#107;&#97;&#115;&#97;&#103;&#97;&#109;&#101;&#115;&#46;&#99;&#111;&#109;">grotto@karakasagames.com</a> </p>
      <hr/>
      Instance info:
      <ul>
        <li><a href="http://wileywiggins.com/grotto.html">About Grotto</a></li>
        <li><a href="{% url 'agreement' %}">Code of Conduct</a></li> (boilerplate, expect updates as features are added)
        <!--<li><a href="{% url 'reporting' %}">Conduct Reporting</a></li>-->
      </ul>

    </div>
{% endblock %}
