{% extends "base.html" %}

{% block page_title %}
  {{ object.name }}
{% endblock %}

{% block body_class %}
  character {{ object.name }}
{% endblock %}

{% block content %}
  <div class="character_sheet">
    <h2>{{object.name}} the {% if object.dead %}dead {% endif %}{{object.kind}}</h2>
    <p>Name: {{object.name}}</p>
    <p>Kind: {{object.kind}}</p>
    <p class="description">
      Description: {{ object.description }}
    </p>
    <p class="skills">
      <h3>Skills:</h3>
      <ul>
        {% for skill in object.skills.all %}
          <li>{{ skill.name }}: {{ skill.level }}</li>
          {% empty %}
          (None)
          {% endfor %}
      </ul>
    </p>
    <p class="inventory">
      <h3>Inventory:</h3>
    <ul>
      {# deal with other items too #}

      {% for item in character.inventory.all %}
        <li>{{ item.name }}</li>
      {% endfor %}
    </ul>
    </p>
  </div>
{% endblock %}
