{% extends "base.html" %}

{% block content %}
  <h2>The Adventurer's Guild</h2>
  <p>This is the waiting area outside of the maze. Seated at a table in a darkened corner is a smiling crone. She gestures towards an empty seat and shuffles a tarot deck.</p>

  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  <p>
    You take a moment and glance around the rest of the room and see:
  </p>
  <ul>
    {% for character in object_list %}
        <li><a href="{% url 'characterBuilder:character' character.pk %}">{{ character.name }}</a> &mdash; <a href="{% url 'game:become' character.pk %}">become</a> (created {{ character.pub_date|date }})</li>
    {% empty %}
        <li>nobody.</li>
    {% endfor %}
  </ul>
  <!-- <a href="{% url 'characterBuilder:character-test' %}">Create Character</a> -->
{% endblock %}
