{% extends "base.html" %}

{% block content %}
  <h2>The Adventurer's Guild</h2>
  <p>This is the waiting area outside of the maze. Seated at a table in a darkened corner is a smiling crone. She gestures towards an empty seat and shuffles a tarot deck.</p>
  <p>The barkeep has slipped a note into your pocket containing a cryptic message, it must have some secret meaning. It says: "<span class="secret authentication-header">Token {{ token.key }}</span>"</p>
  <p>"To switch between text and GUI views use the <kbd>`</kbd> key," he says incomprehensibly.</p>
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  <p>
    Squinting at a glint of light in the crone's crystal ball you see:
  </p>
  <ul>
    {% for character in object_list %}
        <li><a href="{% url 'characterBuilder:character' character.pk %}">{{ character.name }}</a> &mdash; <a href="{% url 'game:become' character.pk %}">become</a> (created {{ character.pub_date|date }})</li>
    {% empty %}
        <li>nobody.</li>
    {% endfor %}
  </ul>
  <!-- <a href="{% url 'characterBuilder:character-test' %}">Create Character</a> -->
{% endblock %}
