{% if vimeo_id %}
    <div class="player iframe-container">
        <iframe src="https://player.vimeo.com/video/{{ page.vimeo_id }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
{% endif %}
{% if youtube_id != nil %}
    <div class="player iframe-container">
        <iframe src="https://www.youtube.com/embed/{{ page.youtube_id }}" frameborder="0" allowfullscreen></iframe>
    </div>
{% endif %}
{% if hosted-video-link != nil %}
    <div class="player">
    <video controls>
        <source src="{{ hosted-video-link }}" type="video/mp4"></source>
        {% for subtitle in video.subtitles %}
            <track label="{{subtitle.name}}" kind="subtitles" srclang="{{subtitle.language}}" src="{{subtitle.path}}" default>
        {% endfor %}
    </video>
    </div>
{% endif %}