{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Room Generator</title>
    <link rel="stylesheet" type="text/css" href="{% static 'characterBuilder/style.css' %}">
  </head>
  <body class = "characterBuilder">
        <p>Spread out on the bed is a map and the tumped contents of a junk drawer.</p> 
        <ul>
          {% for room in obj %}
            <li><a href="{{room.url}}">{{room.name}}</a></li>
            <a href="{% url 'detail' room.id %}"><h1> {{x.name}} (pdf)</h1></a>
          {% endfor %}
        </ul>
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
        <form method="post">
          {% csrf_token %}
            <button type="submit" name="generate_room">Add Room to Map</button>
        </form>
    </body>
</html>