{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{object.colorName}} Room</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  </head>
  <body class = "room {{ object.id }}" style='background-color:{{object.colorHex}}'>
    <sidebar>
      <ul class="exits">
        {% for exit in object.exits.all %}
          <li><a href="{{ exit }}"></a></li>
        {% endfor %}
      </ul>
    </sidebar>
    <section class='description'>
        <h1>{{object.colorName}} Room</h1>
        <p class="description"> 
          {{ object.description }}
        </p>
    </section>
    </body>
</html>
