@import url('https://fonts.googleapis.com/css2?family=Almendra+Display&display=swap');
@font-face {
    font-family: 'courier_prime_coderegular';
    src: url('fonts/courier_prime_code-webfont.woff2') format('woff2'),
         url('fonts/courier_prime_code-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'kern_mansionregular';
    src: url('fonts/kernmansion-regular-webfont.woff2') format('woff2'),
         url('fonts/kernmansion-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@mixin room-div {
    background-color: rgba(5,5,5,0.7);
    padding: 20px;
    box-sizing: border-box;
    color: #fff;
}
html {
}

a {
    color: #eee;
}


p {
    margin-bottom: 20px;
    padding-left: 20px;
}

h1, h2 {
    margin-top: 0;
    
}

.yellow {
    color: #ffff11;
}
.orange {
    color: #e99f20;
}
.pink {
    color:  #df8895;
}
.small {
    font-size:small;
}

h1 {
    font-size: 6em;
    margin-bottom: 10px;
    font-family: kern_mansionregular, cursive;
    color:  #df8895;
    text-align: center;
}
h2 {
    font-size: 4em;
    line-height: 74px;
    font-family: 'Almendra Display', cursive;
    padding-left: 10px;
}

header {
    ul {
        list-style: none;
        li {
            float: right;
            margin-left: 20px;
        }
    }
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'courier_prime_coderegular', Courier, monospace;
    font-size: .9em;
    font-weight: 100;
    &.sparkly {
        background-image: url('images/glitter.gif');
    }
    &.transparent {
        background-image: url('images/checkerboard.png');
    }

    .main {
        display: flex;
        flex:1;
        flex-direction: row;
        align-content: center;
        box-sizing: border-box;
    }
    sidebar {
        @include room-div;
        min-width: 80px;
        margin: 10px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    section {
        @include room-div;
        flex: 1;
        margin: 10px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
   
    footer {
        @include room-div;
    }
    header {
        @include room-div;
    }

}
.room {
}

.index {
    h1 {
        text-align: center;

    }
    img {
        width: 420px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    section.welcome {
        background-color:rgba(63, 20, 186, 0.91);
        border-radius: 80px;
    }
    .login {
        text-align: center;
    }
    .login,.news {
        background-color: rgba(0,0,0,0.3);
        display: grid;
        max-width: 400px;
        margin: auto;
        margin-bottom: 20px;
        padding: 10px;
        border: 4px double #fff;
    }
}

ul.exits {
    list-style: none;
    padding: 0px;
    li:before {
        content: "\1F6AA";
        margin: 0 .2em; 
        font-size: 24px;
    }
    li {
        line-height: 24px;
        vertical-align: middle;
        margin-bottom: 10px;
    }
}


.center-block {
    max-width: 400px;
    margin: auto;
    font-size: 1.3em;
    text-align: center;
    form {
        margin: 20px;
        box-sizing: border-box;
    }
    input, button {
        padding: 5px;
        font-size: 1em;
        margin: 10px;
        box-sizing: border-box;
    }
}