{% extends "base.html" %}

{% load humanize %}

{% block page_title %}{{object.name}} Room{% endblock %}

{% block body_class %}room {{ object.colorName }} illuminate-{{illumination_level}} {% endblock %}

{% block body_style %}background-color:{{object.colorHex}}{% endblock %}

{% block sidebar %}
  <sidebar>
    <h2>Exits:</h2>
    <ul class="exits">
      {% for exit in object.exits.all %}
        {% if character %}
          <li><a href="{% url 'game:move' exit.colorSlug %}">{% if illumination_level > 0 %}{{exit.name}}{% else %}Too dark to see{% endif %}</a>{% if character.arrow_count > 0 %} -- <a class="arrow" href="{% url 'game:fire' exit.colorSlug %}">Fire Arrow into room</a>{% endif %}</li>
        {% else %}
          <li><a href="{% url 'mapBuilder:room' exit.colorSlug %}">{{exit.name}}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
    <h2>Inventory:</h2>
    <ul>
      {% if character.arrow_count > 0 %}
        <li>{{ character.arrow_count | apnumber }} arrow{{ character.arrow_count | pluralize }}</li>
      {% endif %}
      {# deal with other items too #}

      {% for item in character.character_items.all %}
        <li>{{ item.abstract_item.itemName }} -- {% if item.is_active %}<a href="{% url 'game:place' item.pk %}">place</a>{% else %}<a href="{% url 'game:use' item.pk %}">use</a>{% endif %}</li>
      {% endfor %}
      {% for item in character.items.all %}
        <li>{{ item.name }} &mdash; <a href="#">use</a></li>
      {% endfor %}
    </ul>
  </sidebar>
{% endblock %}

{% block content %}
  <h2>{% if illumination_level > 0 %}{{object.name}}{% else %}Dark Room{% endif %}</h2>
  Room is {{ sanctity_adjective }} and {{ cleanliness_adjective }}. {% if illumination_level == 1 %}A candle-holder on the wall is empty.{% elif illumination_level == 2%}A burning candle lights the room.{% endif %}
  {% if illumination_level > 0 %}
      {% if object.vimeo_id or object.youtube_id or object.hosted_video_link %}
        {% include "videoplayer.html" %}
      {% endif %}
    {% if illumination_level > 1 %}
      <p class="description">
        {{ object.description }}
      </p>
      <div class="room-inventory">
        In the room, you see:
        <ul>
          {% for room_item in object.items.all %}
            <li>{{ room_item.abstract_item.itemName }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    <ul class="here">
      {% for occupant in object.occupants.all %}
        {% if occupant == character %}
          <li>You are here!</li>
        {% else %}
          <li><a href="{% url 'characterBuilder:character' occupant.pk %}">{{ occupant.name }}</a> is here!</li>
        {% endif %}
      {% endfor %}
    </ul>
    <ul class="visits">
      {% for visit in visits %}
        {% if visit.character == character %}
          <li>You were here {{ visit.stamp_date | naturaltime }}</li>
        {% elif not visit.character %}
          <li>Something strange was here {{ visit.stamp_date | naturaltime }}</li>
        {% else %}
          <li>An unknown {{ visit.character.kind | lower }} was here {{ visit.stamp_date | naturaltime }}</li>
        {% endif %}
      {% endfor %}
    </ul>
    <ul class="warnings">
      {% for warning in warnings %}
        <li>{{ warning | safe }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
