{% extends "base.html" %}

{% load humanize %}

{% block page_title %}{{object.name}} Room{% endblock %}

{% block body_class %}room {{ object.colorName }}{% endblock %}

{% block body_style %}background-color:{{object.colorHex}}{% endblock %}

{% block sidebar %}
  <sidebar>
    <h2>Exits:</h2>
    <ul class="exits">
      {% for exit in object.exits.all %}
        {% if character %}
          <li><a href="{% url 'game:move' exit.colorSlug %}">{{exit.name}}</a></li>
        {% else %}
          <li><a href="{% url 'mapBuilder:room' exit.colorSlug %}">{{exit.name}}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </sidebar>
{% endblock %}

{% block content %}
  <h2>{{object.name}}</h2>
    {% if object.vimeo_id != nil or object.youtube_id != nil or object.hosted_video_link != nil%}
      {% include videoplayer.html %}
    {% endif %}
  <p class="description">
    {{ object.description }}
  </p>
  <ul class="here">
    {% for occupant in object.occupants.all %}
      {% if occupant == character %}
        <li>You are here!</li>
      {% else %}
        <li><a href="{% url 'characterBuilder:character' occupant.pk %}">{{ occupant.name }}</a> is here!</li>
      {% endif %}
    {% endfor %}
  </ul>
  <ul class="visits">
    {% for visit in visits %}
      {% if visit.character == character %}
        <li>You were here {{ visit.stamp_date | naturaltime }}</li>
      {% elif not visit.character %}
        <li>Something strange was here {{ visit.stamp_date | naturaltime }}</li>
      {% else %}
        <li>An unknown {{ visit.character.kind | lower }} was here {{ visit.stamp_date | naturaltime }}</li>
      {% endif %}
    {% endfor %}
  </ul>
{% endblock %}
