{% extends "base.html" %}

{% load humanize %}

{% block page_title %}{{object.name}}{% endblock %}

{% block body_class %}room {{ object.colorName }} illuminate-{{illumination_level}} {% endblock %}

{% block body_style %}background-color:{{object.colorHex}}{% endblock %}

{% block sidebar %}
  <sidebar>
    <h2>Exits:</h2>
    <ul class="exits">
      {% for exit in object.exits.all %}
        <li><a href="{% url 'mapBuilder:room' exit.colorSlug %}">{{exit.name}}</a></li>
      {% endfor %}
    </ul>
  </sidebar>
{% endblock %}

{% block content %}
  <h2>{{object.name}}</h2>
  <p>The room is {{ sanctity_adjective }} and {{ cleanliness_adjective }}. {% if illumination_level == 1 %}A player is holding a candle which dimly lights the room. A candle-holder on the wall is empty.{% elif illumination_level == 2%}A burning candle lights the room.{% else %}The room is totally dark.{% endif %}</p>
  <p class="description">{{ object.description }}</p>
  {% if object.cenotaph %}
  <p class="cenotaph"><a href="{% url 'mapBuilder:cenotaph' object.colorSlug %}">View Cenotaph</a></p>
  {% endif %}
  {% comment %}
  log of events which occurred in this room
  {% endcomment %}
  <ul class="events">
    {% for event in object.events.all reversed %}
      <li>{{ event.text }} &mdash; {{ event.created | naturaltime }}</li>
    {% endfor %}
  </ul>
  <ul class="visits">
    {% for visit in visits %}
      {% if visit.character == character %}
        <li>You were here {{ visit.stamp_date | naturaltime }}</li>
      {% elif not visit.character %}
        <li>Something strange was here {{ visit.stamp_date | naturaltime }}</li>
      {% else %}
        <li>An unknown {{ visit.character.kind | lower }} was here {{ visit.stamp_date | naturaltime }}</li>
      {% endif %}
    {% endfor %}
  </ul>
{% endblock %}
