//resets

h1, h2, h3, h4, h5, h6 { /*reset for mobile browsers */

    font-weight: normal;

}

//webfonts


@import url('https://fonts.googleapis.com/css2?family=Almendra+Display&display=swap');
@font-face {
    font-family: 'courier_prime_coderegular';
    src: url('fonts/courier_prime_code-webfont.woff2') format('woff2'),
         url('fonts/courier_prime_code-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'kern_mansionregular';
    src: url('fonts/kernmansion-regular-webfont.woff2') format('woff2'),
         url('fonts/kernmansion-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

//mixins

@mixin room-div {
    background-color: rgba(5,5,5,0.7);
    padding: 10px;
    box-sizing: border-box;
    color: #fff;
    
}

//base

html {
}

a {
    color: #eee;
}


p {
    margin-bottom: 20px;
    padding-left: 20px;
    width: clamp(320px, 80vw);
}

h1, h2 {
    margin-top: 0;
    font-size: 2em;
}

.yellow {
    color: #ffff11;
}
.orange {
    color: #e99f20;
}
.pink {
    color:  #df8895;
}
.small {
    font-size:small;
}

// typography
h1 {
    font-size: 6em;
    margin-bottom: 10px;
    font-family: kern_mansionregular, cursive;
    color:  #df8895;
    text-align: center;
}
h2 {
    font-family: 'Almendra Display', cursive;
}

ul.warnings {
    li {
        color:rgb(255, 0, 0);
    }
}
ul.messages {
    li {
        color:rgb(255, 183, 0);
    }
}
//features

header {
    display: flex;
    flex-direction: row;
    ul {
        flex: 1;
        list-style: none;
        margin: 0;
        li {
            float: right;
            margin-left: 20px;
        }
    }
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'courier_prime_coderegular', Courier, monospace;
    font-size: .9em;
    font-weight: 100;
}

.actions-panel {
    ul.actions {
        list-style: none;
        border: 4px double #fff;
        padding: 20px;
        display: flex;
        background-color: rgba(0, 0, 0, 0.1);
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        li {
            line-height: 2em;
            min-width: 200px;
            margin: auto;
            text-align: center;
        }
    }
}

.center-block, {
    max-width: 400px;
    margin: auto;
    font-size: 1.3em;
    text-align: center;
    form {
        margin: 20px;
        box-sizing: border-box;
    }
    input, button {
        padding: 5px;
        font-size: 1em;
        margin: 10px;
        box-sizing: border-box;
    }
}


.main {
    display: flex;
    flex:1;
    flex-direction: column;
    align-content: center;
    box-sizing: border-box;
    margin: 5px;
}

sidebar {
    @include room-div;
    
}
section {
    @include room-div;
    flex: 1;
}

footer {
    @include room-div;
}
header {
    @include room-div;
}

//views

.room {
    .description {
        margin-left: 0;
        margin-bottom: 0;
        
    }
    
    sidebar {
        margin-bottom: 0;
        border-bottom-left-radius: 0;
        padding-right: 20px;
    }

    ul.exits {
        list-style: none;
        padding: 0px;
        li:before {
            content: "\1F6AA";
            margin: 0 .2em; 
            font-size: 24px;
        }
        li {
            line-height: 24px;
            vertical-align: middle;
            margin-bottom: 10px;
        }
    }

    &.sparkly {
        background-image: url('images/glitter.gif');
    }
    &.transparent {
        background-image: url('images/checkerboard.png');
    }

}

.character_sheet, .poll {
    max-width: 600px;
    margin: auto;
    box-sizing: border-box;
    padding: 50px;
}

.poll form {
    line-height: 200%;
}

.index {
    h1 {
        text-align: center;

    }
    img {
        width: 420px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    section.welcome {
        background-color:rgba(63, 20, 186, 0.91);
        border-radius: 80px;
    }
    .login {
        text-align: center;
    }
    .login,.news {
        background-color: rgba(0,0,0,0.3);
        display: grid;
        max-width: 400px;
        margin: auto;
        margin-bottom: 20px;
        padding: 10px;
        border: 4px double #fff;
    }
}




    //responsive
    // desktop view 

@media only screen and (min-width: 640px) {
    .main {
        margin-bottom: 0px;
        flex-direction: row;
        section, sidebar {
            
        }
        sidebar {
            border-top-left-radius: 5px;
        }
        section {border-top-right-radius: 5px;}
    }
    .actions-panel {
        margin: 5px;
        margin-top: 0px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        flex: 0;
    }
    h2 {
        font-size: 4em;
        line-height: 74px;
        font-family: 'Almendra Display', cursive;
        padding-left: 15px;
    }
    .description {
        padding-right: 20px;
    }
    
}

@import
        "saffron/saffron",
        "responsive-iframe";