//resets
* {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 { /*reset for mobile browsers */

    font-weight: normal;

}
img {
    max-width: 100%;
    
}
//webfonts


@import url('https://fonts.googleapis.com/css2?family=Almendra+Display&display=swap');
@font-face {
    font-family: 'courier_prime_coderegular';
    src: url('fonts/courier_prime_code-webfont.woff2') format('woff2'),
         url('fonts/courier_prime_code-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'kern_mansionregular';
    src: url('fonts/kernmansion-regular-webfont.woff2') format('woff2'),
         url('fonts/kernmansion-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

//mixins

@mixin room-div {
    background-color: rgba(5,5,5,0.7);
    padding: 10px;
    box-sizing: border-box;
    color: #fff;
    
}

//base

html {
}

a {
    color: #eee;
}


p {
    margin-bottom: 20px;
    padding-left: 20px;
    width: clamp(320px, 80vw);
}

h1, h2 {
    margin-top: 0;
    font-size: 2em;
}

.yellow {
    color: #ffff11;
}
.orange {
    color: #e99f20;
}
.pink {
    color:  #df8895;
}
.small {
    font-size:small;
}
.secret {
    background: black;
    color: transparent;
    cursor: help;
    user-select: none;
    transition: background 0.3s ease 0.2s, color 0.2s ease 0.25s;
    &:hover, :active, :hover {
        color: #fff;
        background: transparent;
    }
}
// typography
h1 {
    font-size: 6em;
    margin-bottom: 10px;
    font-family: kern_mansionregular, cursive;
    text-align: center;
}
h2 {
    font-family: 'Almendra Display', cursive;
}

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0,  .2), 0 2px 0 0 rgba(255, 255, 255 , .7) inset;
    color: #333;
    display: inline-block;
    font-size: .85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}
ul.warnings {
    li {
        color:rgb(255, 0, 0);
    }
}
ul.messages {
    li {
        color:rgb(255, 183, 0);
    }
}
//features


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'courier_prime_coderegular', Courier, monospace;
    font-size: .9em;
    font-weight: 100;
}

video {
    width: 100%;
}

.actions-panel {
    ul.actions {
        list-style: none;
        border: 4px double #fff;
        padding: 20px;
        display: flex;
        margin: 0px;
        background-color: rgba(0, 0, 0, 0.1);
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        li {
            line-height: 2em;
            min-width: 200px;
            margin: auto;
            text-align: center;
        }
    }
}

.center-block, {
    max-width: 400px;
    margin: auto;
    font-size: 1.3em;
    text-align: center;
    form {
        margin: 20px;
        box-sizing: border-box;
    }
    input, button {
        padding: 5px;
        font-size: 1em;
        margin: 10px;
        box-sizing: border-box;
    }
}


.main, main {
    display: flex;
    flex:1;
    flex-direction: column;
    align-content: center;
    box-sizing: border-box;
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

sidebar {
    @include room-div;
    
}
section {
    @include room-div;
    flex: 1;
}

footer {
    @include room-div;
}

header > div {
    @include room-div;
    display: flex;
    flex-direction: row;
    ul {
        flex: 1;
        list-style: none;
        margin: 0;
        li {
            float: right;
            margin-left: 20px;
        }
    }
    
}

//views

.room {
    .main, main {
        //overflow-y: scroll;
        border-radius: 5px;
        //margin-bottom: 5px;
    }
    .description {
        margin-left: 0;
        margin-bottom: 0;
        
    }
    
    sidebar {
        margin-bottom: 0;
        border-bottom-left-radius: 0;
        padding-right: 20px;
    }

    ul.exits {
        list-style: none;
        padding: 0px;
        li:before {
            content: "\1F6AA";
            margin: 0 .2em; 
            font-size: 24px;
        }
        li {
            line-height: 24px;
            vertical-align: middle;
            margin-bottom: 10px;
        }
    }

    &.sparkly {
        background-image: url('images/glitter.gif');
    }
    &.transparent {
        background-image: url('images/checkerboard.png');
    }

}

.character_sheet, .poll {
    max-width: 600px;
    margin: auto;
    box-sizing: border-box;
    padding: 50px;
}

.poll form {
    line-height: 200%;
    border: 1px solid #fff;
    padding: 20px;
    button {
        margin-top: 10px;
    }
}

.index {
    h1 {
        text-align: center;
    }
    img {
        width: 420px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    section.welcome {
        background-color:rgba(63, 20, 186, 0.91);
        border-radius: 80px;
    }
    .login {
        text-align: center;
    }
    .login,.news {
        background-color: rgba(0,0,0,0.3);
        display: grid;
        max-width: 400px;
        margin: auto;
        margin-bottom: 20px;
        padding: 10px;
        border: 4px double #fff;
    }
}




    //responsive
    // desktop view 

@media only screen and (min-width: 640px) {
    .main, main {
        margin-bottom: 0px;
        flex-direction: row;
        section, sidebar {
            
        }
        sidebar {
            border-top-left-radius: 5px;
        }
        section {border-top-right-radius: 5px;}
    }
    .actions-panel {
        margin: 5px;
        margin-top: 0px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        flex: 0;
    }
    h2 {
        font-size: 4em;
        line-height: 74px;
        font-family: 'Almendra Display', cursive;
        padding-left: 15px;
    }
    .description {
        padding-right: 20px;
    }
    
}

@import
        "saffron/saffron",
        "responsive-iframe";

// GUI views


@mixin scanlines {
    background-image: url('/static/images/Block8.png');
    background-repeat: repeat;
    background-size: 10px,7px;
}
@mixin darkscanlines {
    background-image: url('/static/images/Block3.png');
    background-repeat: repeat;
    background-size: 10px,7px;
}
@mixin black {
    background-image: url('/static/images/Block1.png');
    background-repeat: repeat;
    background-size: 10px,7px;
}

@mixin blackText {
    -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        -moz-background-clip:text;
        background-clip:text; 
        @include black();
}

@mixin darkText {
    -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        -moz-background-clip:text;
        background-clip:text; 
        @include darkscanlines();
}

@mixin lightText {
    -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        -moz-background-clip:text;
        background-clip:text; 
    @include scanlines();
}

@font-face {
    font-family: "Portfolio";
    src: url("/static/fonts/Web437_Portfolio_6x8.woff") format("woff");
  }

$grid-cell-width: 10px;
$grid-cell-height: 7.5px;
$grid-block-width: 200px;
$grid-block-height: 200px;
$background-color: rgb(71, 150, 126);
$inverse-color: lighten(invert($color: $background-color), 20%);


body.cenotaph {
    overflow-y: hidden;
    .main {
        margin: 0;
        padding: 0;
        overflow-y: hidden;
    }
    div {
        ul {
            display: block;
            li {
                margin-left: 20px;
            }
        }
    }
}


body.icon-ui-view, body.cenotaph {
    padding: 0;
    margin: 0;
    font-family: "Portfolio", monospace;
    background-color: $background-color;
    
    &.illuminate-0 {
        @include black();
    }
    &.illuminate-1 {
        @include darkscanlines();
    }

    header{
        text-align: center;
        display: block;
    }
    h1{
        @include darkText();
        font-family: "Portfolio", monospace;
        text-align: center;
        font-size: 4em;
        line-height: 82px;
        padding: 4px;
        margin: 0;
    }

    h3 {
        font-family: "Portfolio", monospace;
        @include darkText();
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 2px;
        max-width: 400px;
        margin: auto;
    }
    img.portrait {
        max-height: 600px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }

    pre {
        white-space: pre-wrap;
        
        color: rgb(30, 30, 30);
        -webkit-text-fill-color: rgb(30, 30, 30);
    }
    .foreground {
        z-index: 3;
        background-color:rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        max-width: 600px;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-self: center;
        position: absolute;
        height: 100vh;
        overflow-y: scroll;
        padding-bottom: 60px;
        @media only screen and (max-width: 440px)
        {
            left: 0px;
            width: 100%;
            padding: 10px;
        }
    }
    details {
        display: inline;
        padding-bottom: 10px;
        -webkit-text-fill-color:inherit;
    }
    summary {
        padding-bottom: 10px;;
    }
    a-scene {
        z-index: 0;
    }

    .obituary, .inscription {
        max-width: 420px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        display: block;
        font-family: monospace;
        font-size: 14px;
        line-height: 16px;
        color: rgb(30, 30, 30);
        -webkit-text-fill-color: rgb(30, 30, 30);
        h3 {
            @include darkText();
            margin-left: 20px;
        }

        -webkit-text-fill-color: rgb(30, 30, 30);
    }

    
    .events {
        max-width: 420px;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        font-size: 16px;
        font-family: monospace;
        
        margin-bottom: 40px;
    }
    
    .content {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        height: 100vh;
        color: rgb(30, 30, 30);
        * {
            box-sizing: border-box;
        }
    }

    .main, main {
        flex: 1;
        display: flex;
        flex-direction: column;
        max-height: 100vh;
        overflow-y: scroll;
    }

    .room-view {
        //background-color: rgb(77, 77, 77);
        //border: 2px solid #000;
        //min-height: 50vh;
        
        width: 100%;
        justify-content: center;
        align-items: center;
        
    }
    .exits {
        //background-color: desaturate(darken($background-color, 20%), 40%);
        @include scanlines();
        padding: 20px;
    }
    .UIpanel {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    ul {
        margin-left:0;
        padding-left: 0;
        
        //li {background-color: rgb(103, 103, 103);}
        //li:nth-child(even) {background-color: rgb(255, 255, 255);}
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-flow: row wrap;
        &.items {
            align-items: flex-end;
        }
    }
    

    .status-bar {
        min-height: $grid-cell-height * 3;
        max-height: $grid-cell-height * 9;
        line-height: $grid-cell-height * 3;
        font-size: 1 em;
        text-align: center;
        //background-color:rgb(38, 38, 38);
        @include darkscanlines();
        color: $inverse-color;
        display: flex;
        flex-direction: column-reverse;
        overflow-y: hidden;
        span {
            display:inline-block;
        }
    }
    .action-bar {
        min-height: $grid-cell-height * 3;
        line-height: $grid-cell-height * 3;
        font-size: 1 em;
        text-align: center;
        //background-color:darken(invert($color: $background-color), 20%);
        @include black();
        color: $inverse-color;
    }

    .action-bar.attention, .status-bar.attention {
     
    }
    .characterPanel {
        z-index: 5;
    }
    li.exit, li.item, li.character {
        list-style: none;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: bottom;
        &.selected {
            //background-color: rgba(255,255,255,0.4);
            //@include pulsate();
            filter: invert(100%);
            //background-color: darken($background-color, 40%);
            
        };
    }

    li.exit {
        background-image: url('/static/images/door.png');
        width: 90px;
        height: 90px;
        background-size: 90px;
        &.up {
            background-image: url('/static/images/door_up.png'); 
        }
        &.down {
            background-image: url('/static/images/door_down.png'); 
        }
    }    
    li.trader {
        background-image: url('/static/images/trader.png');
    }
    li.character {
        background-image: url('/static/images/character.png');
        &.robot {
            background-image: url('/static/images/robot.png'); 
        }
        &.animal {
            background-image: url('/static/images/animal.png'); 
        }
        &.bird {
            background-image: url('/static/images/bird.png'); 
        }
        &.ghost {
            background-image: url('/static/images/ghost.png'); 
        }
        &.bird {
            background-image: url('/static/images/bird.png'); 
        }
        &.vegetable {
            background-image: url('/static/images/vegetable.png'); 
        }
        &.fungus {
            background-image: url('/static/images/fungus.png'); 
        }
        &.obelisk {
            background-image: url('/static/images/obelisk.png'); 
        }
    }

    li.item, li.character{
        
        list-style: none;
        display: block;
        width: $grid-block-width;
        height: $grid-block-height;
        background-size: 130px,135px;
        height: 135px;
    }
    li.item {
        background-image: url('/static/images/unknown.png');
        &.scrubbrush {
            background-image: url('/static/images/scrubbrush.png');
        }
        &.candle {
            background-image: url('/static/images/candle_sm.png');
            
        }
        &.arrow {
            background-image: url('/static/images/arrow_sm.png');
            
        }
        &.candle-active {
            background-image: url('/static/images/candle_sm_active.png');
        
        }
        &.incense {
            background-image: url('/static/images/incense_sm.png');
            
        }
        &.incense-active {
            background-image: url('/static/images/incense_sm_active.png');
        }
        &.cenotaph {
            background-image: url('/static/images/cenotaph_sm.png');
            
        }    
    }
}
